Phoenix/.vscode/settings.json
.gradle/4.9/fileChanges/last-build.bin
.gradle/4.9/fileHashes/fileHashes.lock
.gradle/vcsWorkingDirs/gc.properties
.settings/org.eclipse.buildship.core.prefs
/bin/
/build/
/backend/build/
/frontend/build/
/dist/
/backend/dist/
/frontend/dist/
/.gradle/
/.project
/.idea/
/out/
/.settings/
/.classpath
/.sts4-cache/
